

.Banner{
    background-color: #165fa3;
    height: 20vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

#blog{
    color: white;
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}